.wmde-markdown,
.wmde-markdown-var {
    --color-fg-default: #24292f !important;
    --color-fg-muted: #57606a !important;
    --color-fg-subtle: #6e7781 !important;
    --color-canvas-default: #E3EDF8 !important;
    --color-canvas-subtle: #dbe3ec !important;
}